


.big-pic {
    height: 150px;
    width: 100%;

}
.below-nav{
    height: 900px;
    width:100%;
    background-color: green;
}


.big-text{
    color: rgb(199, 0, 56);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.5vw;
}
.sub-big{
    color: rgb(255, 136, 77);
    font-family: 'Josefin Sans', sans-serif;;
    font-size: 5.5vw;
    margin: 6% 0 6% 0;
    text-shadow: 1px 1px black;
}
.smaller-text{
    color: aqua;
    font-family: "Crimson Text";
    font-size: 30px;
}

.navbar{

    font-size: 25px;
    font-family: "Montserrat";
}
.tab-content{
    font-family: "Montserrat";
}
.info-box{
    height:400px;

}
.info-card{
    background-color: rgba(96, 234, 168, 0.3);
    height: -40vw;
    color: white;
    outline: 3px solid black;
    margin: 0px 0 20px 0;
}
.info-card2{
    background-color: rgba(96, 234, 168, 0.3);
    height: -40px;
    color: white;
    outline: 3px solid black;
    margin: 0px 0 20px 0;
}
.outline-h{
    text-shadow: 1px 1px white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 55px;
    padding: 0 0 20px 0;
}
.outline-t{
    text-shadow: 1px 1px black;
    font-family: 'Josefin Sans', sans-serif;
}

.home-box{
    height: 400px;
    
}
.container-fluid{
    padding:0px;
}
.nav-link{
    color: white !important;
   outline: 1px solid white;
}
.navbar-brand{
    font-size: 40px !important;
    color: red !important;
    font-family: 'Shadows Into Light', cursive;
}
#cover-img{
    
    background-image: url(img/balloon-3.jpg);
    background-size: 100% 100%;
    height: 500px;
    
}

#home{
    outline: 3px solid black;
    background-color: white;
    background-size: 100% 100%;
    height:-40vw;
}
.home-t{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow: 1px 1px rgb(255, 136, 77);
}
.home-box{
    background: rgba(255, 136, 77, 0.6);
    outline: 3px solid black;
    height: 100px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;;
    margin: 0 0 20px 0;
    font-weight: bold;
}
.icon-parent{
font-size: 30px;
}
.icon-kid{
    font-size: 20px;
}

#info{
    background-color: rgb(255, 136, 77);
    background-size: 100% 100%;
    height: -40vw;
    text-shadow: 0px 0px black;
}
#gallery{
    height: -40vw;
    background-color: white;
    
}
.galtext{
    font-family:  'Shadows Into Light', cursive;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px rgb(255, 136, 77) ;
    font-size: 40px;
}
#galCarl{
padding: 0 0 20px 0;
}
img{
    width:100%;
    height: 100%;
}
.carousel-item{
    height:500px;
    width: 100%;
}
.carousel-caption{
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 2px 2px black;
    font-weight: bold;
}
#testimonials{
    height: -40vw;
    background-color: rgb(255, 136, 77);
}
.test-text{
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
.test-cards{
    margin:auto;
}

.card-img{
    height: 275px;
}
.card-body{
    height: 325px ;
}
.card{
    height: 425px;
}
.card-text{
    font-family: 'Josefin Sans', sans-serif;
}
#contact{
    height: 375px;
    background-color: white;
}
.contact-t{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
}
#copyright{
    height: 100px;
    background-color: rgb(255, 136, 77);
    font-family: 'Josefin Sans', sans-serif;
    
}
.space{
    height:20px;
}
.bg-primary{
    background: rgb(255, 207, 145) !important;
}
